.download-box {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    a{
        font-weight: bold;
        color: limegreen;
        font-size: 14px;
        padding-bottom: 15px;
        transition: all 0.3s ease;
        width: 100%;
        &:hover {
            color: #55ff55;
            text-shadow: 0 0 10px limegreen, 0 0 20px limegreen, 0 0 30px limegreen;
            transform: translateY(-5px);
        }
    }
    .downloadindicator {
        font-size: 14px;
        color: limegreen;
        transition: all 0.3s ease;
        &:hover {
            color: #55ff55;
            text-shadow: 0 0 10px limegreen, 0 0 20px limegreen, 0 0 30px limegreen;
            transform: translateX(5px);
            cursor: pointer;
        }
    }
}
.copy-download-link, .delete-share {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .timerspan {
        font-size: 12px;
        color: limegreen;
    }
    .timerspan span:hover {
            color: #55ff55;
            text-shadow: 0 0 10px limegreen, 0 0 20px limegreen, 0 0 30px limegreen;
            transform: translateY(-5px);
            cursor: pointer;
    }
    .copy-btn{
        background-color: limegreen;
        color: #333;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.3s ease;
        &:hover {
            background-color: #55ff55;
            transform: translateY(-5px);
            box-shadow:  0 5px 15px rgba(0, 255, 0, 0.3);
            color: white;
        }
    }
    .delete-btn {
        background-color: limegreen;
        color: #333;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.3s ease;
        &:hover {
            background-color: red;
            transform: translateY(-5px);
            box-shadow:  0 5px 15px rgba(255, 0, 0, 0.3);
            color: white;
        }
    }
}


.imageinfo {
    font-size: 14px;
    color: limegreen;
    margin-top: 10px;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .waveanimheader span {
        font-size: 1.5rem;
    }

    main {
        height: auto;
        padding: 30px 15px;
    }
    .submituploadbtn:nth-child(3) {
        font-size: 16px;
    }

    .upload-box, .download-box {
        width: 90%;
        padding: 15px;
    }

    .download-box {
        flex-direction: column;
    }

    .flicker {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .copy-btn, .delete-btn, .submituploadbtn {
        padding: 8px 14px;
        font-size: 13px;
    }

    ::file-selector-button {
        padding: 8px 14px;
        margin: 12px;
    }
    
}

@media screen and (max-width: 425px) {
    .waveanimheader span {
        font-size: 1.4rem;
    }
    .submituploadbtn:nth-child(3) {
        font-size: 16px;
    }

    main {
        height: auto;
        padding: 30px 15px;
    }

    .upload-box, .download-box {
        width: 90%;
        padding: 15px;
    }

    .download-box {
        flex-direction: column;
    }

    .flicker {
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    .copy-btn, .delete-btn, .submituploadbtn {
        padding: 8px 14px;
        font-size: 13px;
    }

    ::file-selector-button {
        padding: 8px 14px;
        margin: 12px;
    }
    
}


@media screen and (max-width: 375px) {
    .waveanimheader span {
        font-size: 1.3rem;
    }
    .submituploadbtn:nth-child(3) {
        font-size: 16px;
    }

    main {
        height: auto;
        padding: 30px 15px;
    }

    .upload-box, .download-box {
        width: 90%;
        padding: 15px;
    }

    .download-box {
        flex-direction: column;
    }

    .flicker {
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    .copy-btn, .delete-btn, .submituploadbtn {
        padding: 8px 14px;
        font-size: 13px;
    }

    ::file-selector-button {
        padding: 8px 14px;
        margin: 12px;
    }
}
