* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: limegreen;
    --primary-hover-color: #55ff55;
    --background-color: #222;
    --card-background: #333;
    --card-background-2: #444;
    --hover-background: #2c2c2c;
    --border-color: limegreen;
    --hover-border-color: lime;
    --text-color: #aaa;
    --hover-text-color: #55ff55;
    --shadow-color: rgba(0, 255, 0, 0.5);
    --hover-shadow-color: rgba(0, 255, 0, 0.3);
    --delete-hover-color: red;
    --delete-hover-shadow-color: rgba(255, 0, 0, 0.3);
    --dark-text-color: #333;
    --light-text-color: #fff;
    --file-button-text-color: #000;
    --placeholder-color: #aaa;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    background-color: var(--background-color);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background-color: var(--card-background);
    padding: 20px;
    text-align: center;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    gap: 10px;
}

header a:hover {
    color: var(--primary-hover-color);
    text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
}
.qrcodegeneratortag, .filesharingtag, .hometag, .foldersharingtag {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover {
        text-decoration: underline;
        color: var(--primary-hover-color);
        text-shadow: 0 0 8px var(--primary-color);
    }
}
.qrcodegeneratortag.active, .quicklinktag.active {
    color: var(--primary-hover-color);
    text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
    text-decoration: underline;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px 60px;
    width: 100%;
}

.submituploadbtn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--dark-text-color);
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}
.downloadbutton {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--dark-text-color);
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

select {
    /* Base appearance reset  */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 10px 40px 10px 15px;
    width: 25%;

    background-color: var(--card-background);
    color: var(--primary-color);

    border: 1px solid var(--border-color);
    border-radius: 5px;

    font-size: 14px;
    font-weight: bold;
    font-family: inherit;

    cursor: pointer;

    /* Custom dropdown arrow using SVG */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='white' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;

    transition: all 0.3s ease;
}

select:hover {
    border-color: var(--hover-border-color);
    box-shadow: 0 0 10px var(--shadow-color);
    color: var(--primary-hover-color);
}

select:focus {
    outline: none;
    border-color: var(--hover-border-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

option {
    background-color: var(--card-background);
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px;
}

option:hover,
option:checked {
    background-color: var(--primary-color);
    color: var(--dark-text-color);
}



.download-box {
    display: none;
    align-items: center;
    gap: 15px;
    background-color: var(--background-color2);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    text-align: center;
    margin-top: 15px;
    a{
        font-weight: bold;
        color: var(--primary-color);
        font-size: 14px;
        padding-bottom: 15px;
        transition: all 0.3s ease;
        width: 100%;
        &:hover {
            color: var(--primary-hover-color);
            text-shadow: 0 0 10px var(--primary-hover-color), 0 0 20px var(--primary-hover-color), 0 0 30px var(--primary-hover-color);
            transform: translateY(-5px);
        }
    }
    .downloadindicator {
        font-size: 14px;
        color: var(--primary-color);
        transition: all 0.3s ease;
        &:hover {
            color: var(--primary-hover-color);
            text-shadow: 0 0 10px var(--primary-hover-color), 0 0 20px var(--primary-hover-color), 0 0 30px var(--primary-hover-color);
            transform: translateX(5px);
            cursor: pointer;
        }
    }
}

.copy-download-link {
    display: flex;
    align-items: center;
    text-align: center;
    .copy-btn{
        background-color: var(--primary-color);
        color: var(--dark-text-color);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.3s ease;
        &:hover {
            background-color: var(--primary-hover-color);
            transform: translateY(-5px);
            box-shadow:  0 5px 15px var(--hover-shadow-color);
            color: var(--light-text-color);
        }
    }
}

.delete-share {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .timerspan {
        font-size: 12px;
        color: var(--primary-color);
    }
    .timerspan span:hover {
            color: var(--primary-hover-color);
            text-shadow: 0 0 10px var(--primary-hover-color), 0 0 20px var(--primary-hover-color), 0 0 30px var(--primary-hover-color);
            transform: translateY(-5px);
            cursor: pointer;
    }
    .delete-btn {
        background-color: var(--background-color);
        /* color: #333; */
        color: var(--primary-color);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.3s ease;
        &:hover {
            background-color: var(--hover-background);
            transform: translateY(-5px);
            box-shadow:  0 5px 15px var(--hover-shadow-color);
            color: var(--primary-color);
        }
    }
}





.change-themes-btn {
    display: inline-block;
    background: none;
    color: var(--primary-color-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover {
        color: var(--primary-hover-color);
        text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
    }
}

.change-themes {
    max-height: 0;
    overflow: hidden;
    background-color: var(--background-color2);
    color: var(--dark-text-color);
    border: 1px solid var(--border-color);
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: max-height 0.3s ease, padding 0.3s ease;

    div {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 20%;
        margin: 0 5px;
    }
}

.change-themes.open {
    max-height: 100px;
    padding: 10px 20px;
}



.change-themes .white {
    background-color: white;
}
.change-themes .red {
    background-color: red;
}
.change-themes .green {
    background-color: limegreen;
}

.change-themes .blue {
    background-color: blue;
}

.change-themes .cyan {
    background-color: cyan;
}
.change-themes .purple {
    background-color: purple;
}
.change-themes .orange {
    background-color: orange;
}
.change-themes .pink {
    background-color: hotpink;
}
.change-themes .yellow {
    background-color: yellow;
}
.change-themes .black {
    background-color: black;
}
.change-themes .default {
    background-color: limegreen;
}



.submituploadbtn:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px var(--hover-shadow-color);
    color: var(--light-text-color);
    border-color: var(--hover-border-color);
}
.downloadbutton:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px var(--hover-shadow-color);
    color: var(--light-text-color);
    border-color: var(--hover-border-color);    
}

.submituploadbtn:nth-child(2),
.submituploadbtn:nth-child(3) {
    font-size: 19px;
}

.upload-box,
.qr-generator-box,
.generated-qr,
.link-generated-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background-2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 12px var(--shadow-color);
}

.upload-box .info,
.qr-generator-box .info,
.generated-qr .info,
.link-generated-qr .info {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 14px;
    padding-bottom: 15px;
    transition: all 0.3s ease;
}

.upload-box .info:hover,
.qr-generator-box .info:hover,
.generated-qr .info:hover,
.link-generated-qr .info:hover {
    color: var(--primary-hover-color);
    text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
    transform: translateY(-5px);
    cursor: pointer;
}

.flicker {
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: flicker-animation 5s infinite;
    margin-top: 40px;
    text-align: center;
    color: var(--primary-color);
}

::file-selector-button {
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--file-button-text-color);
    cursor: pointer;
    margin: 20px;
    transition: all 0.3s ease;
}

::file-selector-button:hover {
    background-color: var(--primary-hover-color);
    color: var(--light-text-color);
    box-shadow: 0 5px 15px var(--hover-shadow-color);
    transform: translateY(-5px);
    border-color: var(--hover-border-color);
}

footer {
    background-color: var(--card-background);
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid var(--border-color);
    .quick-links {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        .quicklinktag {
            color: var(--primary-color);
            text-decoration: none;
            font-size: 10px;
            font-weight: bold;
            transition: all 0.3s ease;
            &:hover {
                color: var(--primary-hover-color);
                text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
                transform: translateY(-5px);
            }
        }
    }
}

input[type="file"] {
    display: none;
}

@keyframes flicker-animation {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 4px var(--primary-color), 0 0 10px var(--primary-color);
        opacity: 1;
    }
    20%, 24%, 55% {
        opacity: 0.4;
    }
}


.waveanimheader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 20px;
}

.waveanimheader span {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    animation: wave 5s ease-in-out infinite;
    cursor: pointer;
}

@keyframes wave {
    0%, 30%, 100% {
        transform: translateY(0);
        text-shadow: none;
        color: var(--primary-color);
    }
    15% {
        transform: translateY(-15px);
        color: var(--primary-hover-color);
        text-shadow: 0 0 15px var(--primary-color);
    }
}

@media (max-width: 480px) {
    .waveanimheader span {
        font-size: 1.3rem;
    }

    .upload-box,
    .qr-generator-box,
    .generated-qr,
    .link-generated-qr {
        padding: 14px;
    }

    .submituploadbtn {
        font-size: 14px;
        padding: 8px 14px;
        margin-bottom: 10px;
    }

    .flicker {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .quick-links {
        gap: 10px;
        .quicklinktag {
            font-size: 8px;
        }
    }
}


/* Wave delays */
/* Youtbe Converter Page */
.waveanimheader .yt-y   { animation-delay: 0.0s; }
.waveanimheader .yt-o   { animation-delay: 0.1s; }
.waveanimheader .yt-u1  { animation-delay: 0.2s; }
.waveanimheader .yt-t1  { animation-delay: 0.3s; }
.waveanimheader .yt-u2  { animation-delay: 0.4s; }
.waveanimheader .yt-b   { animation-delay: 0.5s; }
.waveanimheader .yt-e1  { animation-delay: 0.6s; }
.waveanimheader .yt-d1  { animation-delay: 0.7s; }
.waveanimheader .yt-M   { animation-delay: 0.8s; }
.waveanimheader .yt-P   { animation-delay: 0.9s; }
.waveanimheader .yt-3   { animation-delay: 1.0s; }
.waveanimheader .yt-d2  { animation-delay: 1.1s; }
.waveanimheader .yt-C   { animation-delay: 1.2s; }
.waveanimheader .yt-O   { animation-delay: 1.3s; }
.waveanimheader .yt-N   { animation-delay: 1.4s; }
.waveanimheader .yt-V   { animation-delay: 1.5s; }
.waveanimheader .yt-E2  { animation-delay: 1.6s; }
.waveanimheader .yt-R1  { animation-delay: 1.7s; }
.waveanimheader .yt-T   { animation-delay: 1.8s; }
.waveanimheader .yt-E3  { animation-delay: 1.9s; }
.waveanimheader .yt-R2  { animation-delay: 2.0s; }


/* Home Page */
.waveanimheader .h-B   { animation-delay: 0.0s; }
.waveanimheader .h-O1  { animation-delay: 0.1s; }
.waveanimheader .h-R   { animation-delay: 0.2s; }
.waveanimheader .h-A   { animation-delay: 0.3s; }
.waveanimheader .h-S   { animation-delay: 0.4s; }
.waveanimheader .h-space  { animation-delay: 0.5s; }
.waveanimheader .h-T   { animation-delay: 0.6s; }
.waveanimheader .h-O2  { animation-delay: 0.7s; }
.waveanimheader .h-O3  { animation-delay: 0.8s; }
.waveanimheader .h-L   { animation-delay: 0.9s; }
.waveanimheader .h-S2  { animation-delay: 1.0s; }


/* Folder Sharing Page */
.waveanimheader .fd-F   { animation-delay: 0.0s; }
.waveanimheader .fd-O   { animation-delay: 0.1s; }
.waveanimheader .fd-L   { animation-delay: 0.2s; }
.waveanimheader .fd-D   { animation-delay: 0.3s; }
.waveanimheader .fd-E   { animation-delay: 0.4s; }
.waveanimheader .fd-R   { animation-delay: 0.5s; }
.waveanimheader .fd-S   { animation-delay: 0.6s; }
.waveanimheader .fd-H   { animation-delay: 0.7s; }
.waveanimheader .fd-A   { animation-delay: 0.8s; }
.waveanimheader .fd-R2  { animation-delay: 0.9s; }
.waveanimheader .fd-I   { animation-delay: 1.0s; }
.waveanimheader .fd-N   { animation-delay: 1.1s; }
.waveanimheader .fd-G   { animation-delay: 1.2s; }

/* File Sharing Page */
.waveanimheader .f-F    { animation-delay: 0.0s; }
.waveanimheader .i-I    { animation-delay: 0.1s; }
.waveanimheader .l-L    { animation-delay: 0.2s; }
.waveanimheader .e-E    { animation-delay: 0.3s; }
.waveanimheader .s-S    { animation-delay: 0.4s; }
.waveanimheader .h-H    { animation-delay: 0.5s; }
.waveanimheader .a-A    { animation-delay: 0.6s; }
.waveanimheader .r-R    { animation-delay: 0.7s; }
.waveanimheader .i2-I   { animation-delay: 0.8s; }
.waveanimheader .n-N    { animation-delay: 0.9s; }
.waveanimheader .g-G    { animation-delay: 1.0s; }


/* Image Converter Page */
.waveanimheader .ic-i   { animation-delay: 0.0s; }
.waveanimheader .ic-m   { animation-delay: 0.1s; }
.waveanimheader .ic-a   { animation-delay: 0.2s; }
.waveanimheader .ic-g   { animation-delay: 0.3s; }
.waveanimheader .ic-e   { animation-delay: 0.4s; }
.waveanimheader .ic-space { animation-delay: 0.6s; }
.waveanimheader .ic-c   { animation-delay: 0.7s; }
.waveanimheader .ic-o   { animation-delay: 0.8s; }
.waveanimheader .ic-n   { animation-delay: 0.9s; }
.waveanimheader .ic-v   { animation-delay: 1.0s; }
.waveanimheader .ic-e2  { animation-delay: 1.1s; }
.waveanimheader .ic-r   { animation-delay: 1.2s; }
.waveanimheader .ic-t   { animation-delay: 1.3s; }
.waveanimheader .ic-e3  { animation-delay: 1.4s; }
.waveanimheader .ic-r2  { animation-delay: 1.5s; }


/* Video To Audio */
.waveanimheader .va-m    { animation-delay: 0.0s; }
.waveanimheader .va-p    { animation-delay: 0.1s; }
.waveanimheader .va-mp3  { animation-delay: 0.2s; }
.waveanimheader .va-space { animation-delay: 0.3s; }
.waveanimheader .va-to   { animation-delay: 0.4s; }
.waveanimheader .va-space2 { animation-delay: 0.5s; }
.waveanimheader .va-m2   { animation-delay: 0.6s; }
.waveanimheader .va-p2   { animation-delay: 0.7s; }
.waveanimheader .va-mp4  { animation-delay: 0.8s; }

